body {
  font-family: 'Segoe UI', sans-serif;
  text-align: center;
  margin-top: 100px;
  background-color: #f1f1f1;
  transition: background-color 0.5s;
}

.container {
  padding: 20px;
}

button {
  padding: 10px 20px;
  font-size: 118px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
button:hover {
  background-color: #555;
}